 .u-section-1 {
  background-image: none;
  min-height: 330px;
}

.u-section-1 .u-group-1 {
  min-height: 270px;
  background-image: none;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 49px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 41px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 0;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
    min-height: 283px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
  }
} .u-section-2 {
  min-height: 826px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-image-1 {
  min-height: 766px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/PlacementCell.webp');
  background-position: 50% 50%, 51.3% 50%;
  background-size: cover, cover;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 766px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-text-1 {
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 20px;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 1px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 1px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-2 .u-icon-1 {
  font-size: 2em;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 1px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-2 .u-icon-2 {
  font-size: 2em;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 0 1px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-2 .u-icon-3 {
  font-size: 2em;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 0 1px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 892px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 632px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 767px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1038px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1038px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1073px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1557px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1917px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 980px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 864px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 19px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 12px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 486px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 657px;
  margin: 51px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 29px 762px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 499px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 562px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 447px;
  font-weight: 700;
  margin: 54px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 833px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 35px;
  margin-bottom: 54px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 219px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 4px 0;
}

.u-section-4 .u-icon-1 {
  width: 109px;
  height: 109px;
  background-image: none;
  margin: 0 112px 0 131px;
  padding: 24px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -8px 0 0 18px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 14px 18px 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --radius: 20px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 4px 0;
}

.u-section-4 .u-icon-2 {
  width: 109px;
  height: 109px;
  background-image: none;
  margin: 0 112px 0 131px;
  padding: 24px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -8px 0 0 18px;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 14px 18px 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --radius: 20px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 4px 0;
}

.u-section-4 .u-icon-3 {
  width: 109px;
  height: 109px;
  background-image: none;
  margin: 0 112px 0 131px;
  padding: 24px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -8px 0 0 18px;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 14px 18px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 250px;
    grid-gap: 30px;
  }

  .u-section-4 .u-list-item-1 {
    --top-left-radius: 20px;
    --top-right-radius: 20px;
    --bottom-right-radius: 20px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 22px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-item-2 {
    --top-left-radius: 20px;
    --top-right-radius: 20px;
    --bottom-right-radius: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 22px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-item-3 {
    --top-left-radius: 20px;
    --top-right-radius: 20px;
    --bottom-right-radius: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 22px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
    min-height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 32px;
    margin-bottom: 52px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% + 0px);
    min-height: 903px;
  }

  .u-section-4 .u-list-item-1 {
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 15px 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin: 31px 1px -12px;
  }

  .u-section-4 .u-list-item-2 {
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 15px 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 18px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin: 31px 1px -12px;
  }

  .u-section-4 .u-list-item-3 {
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 15px 10px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 18px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin: 31px 1px -12px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-5 .u-text-1 {
  width: 629px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 72px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 2.25px));
  min-height: 827px;
  --gap: 3px;
  grid-auto-columns: calc(25% - 2.25px);
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-5 .u-image-1 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-5 .u-image-2 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-5 .u-image-3 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 18px;
}

.u-section-5 .u-image-4 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 18px;
}

.u-section-5 .u-image-5 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 18px;
}

.u-section-5 .u-image-6 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-7 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 18px;
}

.u-section-5 .u-image-7 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-8 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 18px;
}

.u-section-5 .u-image-8 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-9 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px 18px;
}

.u-section-5 .u-image-9 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-10 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px 18px;
}

.u-section-5 .u-image-10 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-11 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-11 {
  padding: 30px 18px;
}

.u-section-5 .u-image-11 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-12 {
  background-image: none;
  --radius: 20px;
}

.u-section-5 .u-container-layout-12 {
  padding: 30px 18px;
}

.u-section-5 .u-image-12 {
  height: 184px;
  width: 175px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 682px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 7px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 2px);
    grid-template-columns: repeat(3, calc(33.3333% - 2px));
    min-height: 988px;
  }

  .u-section-5 .u-list-item-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-7 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-8 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-9 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-10 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-11 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-12 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 2090px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2955px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-bottom: 7px;
  }
} .u-section-6 {
  min-height: 314px;
}

.u-section-6 .u-group-1 {
  min-height: 313px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-text-1 {
  width: 629px;
  font-size: 3rem;
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  width: 629px;
  margin: 16px auto 0;
}

.u-section-6 .u-image-1 {
  width: 326px;
  height: 152px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    width: 520px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.3333333333333333rem;
    width: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 315px;
  }

  .u-section-6 .u-text-1 {
    width: 320px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.33333rem;
    width: 320px;
  }

  .u-section-6 .u-image-1 {
    width: 311px;
    height: 133px;
  }
} .u-section-7 {
  min-height: 732px;
}

.u-section-7 .u-map-1 {
  height: 604px;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-map-1 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 704px;
  }

  .u-section-7 .u-map-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }
}